* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.Hello {
    background-color: #dedde2;    ;
    height: 100vh;
    width: 100%;
}

.Hello > h1{
    color: blue;
}

nav{
    display: flex;
    justify-content: space-around;      /* To distribute space evenly */
    align-items: center ;
}

nav ul{
    display: flex;
    justify-content: centers;
}

nav ul li{
    list-style: none;           /*dont want bullets*/
    margin: 0 23px;
}

.typing{
    overflow: hidden;
    width: 0;
    animation-play-state: running ;
    color: black;
    /* animation: blink 0.5 infinite;
*/} 