* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
#Home{
    background-color: #dedde2;    ;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.Home {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.button_row{
    display: flex;
    justify-content: space-evenly;

}
#work-exp{
    background-color: #706a8c ;
    height: 100vh;
    width: 100%;
}

#Home > h1{
    display: flex;
    justify-content: start;
    color: blue;
}

nav{
    display: flex;
    justify-content: space-around;      /* To distribute space evenly */
    align-items: center ;
    height: 80px;
    background-color: rgb(254, 254, 254);
}

nav ul{
    display: flex;
    justify-content: centers;
}

nav ul li{
    list-style: none;           /*dont want bullets*/
    margin: 0 23px;
    font-size: 20px;
}

.left{
    font-size: 2rem;
}
footer{
    background-color: #dedde2;
}

.footer{
    display: flex;
}


  